
@{
    ViewBag.Title = "ThankYou";
}

<h2>Thank You</h2>
<h4>Thank you for your purchase, <a href="@Url.Action("Index", "Home")" class="elements"><span> click here to return to the home page.</span></a></h4>

